<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find my_panda_description)/robots/ros2_control/utils.xacro" />

  <xacro:macro name="panda_arm_ros2_control"
    params="ns use_sim simulation_controllers_config_file">

    <xacro:if value="$(arg use_sim)">

      <ros2_control name="RobotSystem" type="system">
        <hardware>
          <plugin>ign_ros2_control/IgnitionSystem</plugin>
        </hardware>

        <xacro:configure_joint joint_name="${ns}_joint1" initial_position="0.0" pos_min="-2.8973" pos_max="2.8973" />
        <xacro:configure_joint joint_name="${ns}_joint2" initial_position="${-pi/4}" pos_min="-1.7628" pos_max="1.7628" />
        <xacro:configure_joint joint_name="${ns}_joint3" initial_position="0.0" pos_min="-2.8973" pos_max="2.8973"/>
        <xacro:configure_joint joint_name="${ns}_joint4" initial_position="${-3*pi/4}" pos_min="-3.0718" pos_max="-0.0698" />
        <xacro:configure_joint joint_name="${ns}_joint5" initial_position="0.0" pos_min="-2.8973" pos_max="2.8973" />
        <xacro:configure_joint joint_name="${ns}_joint6" initial_position="${pi/2}" pos_min="-0.0175" pos_max="3.7525" />
        <xacro:configure_joint joint_name="${ns}_joint7" initial_position="${pi/4}" pos_min="-2.8973" pos_max="2.8973" />
      </ros2_control>

      <gazebo>
        <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
          <parameters>${simulation_controllers_config_file}</parameters>
        </plugin>
      </gazebo>

    </xacro:if>

  </xacro:macro>
</robot>
